---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

//Base Font
$blog-font-family: "PT Sans", Sans, Arial, sans-serif;
$base-font-size:   22px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
//Header Font
$header-font-family: "Raleway", Sans, Arial, sans-serif !default;
$header-font-size:   16px !default;
$header-font-weight: 400 !default;
$header-line-height: 1.5 !default;

//spacing
$spacing-unit:     30px;

//Color palette
$coral-color: #FF5600;
$tan-color: #FFE877;
$pine-color: #289976;
$aqua-color: #67CC8E;
$mint-color: #B1FF91;

//text color
$text-color:       #2C302A;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
